{% load static %}

<header>
    <div class="navbar">  
        
        <div>
            <img src="{% static 'images/logo_imalogo.png' %}" alt="" class="navbar__logo">
        </div>

        <div class="navbar__information">            
            <ul class="navbar__list">
                <li class="navbar__list-item"><a href="{% url 'home' %}">General</a></li>
                <li class="navbar__list-item"><a href="#"></a></li>  
                <li class="navbar__list-item"><a href="#">Configuración</a></li>
                <li class="navbar__list-item"><a href="{% url 'auth_login' %}">Cerrar Sesion </a></li>
            </ul>
            <div class="navbar__search">
                <input class="navbar__input" type="text"
                 placeholder="BUSQUEDA POR NUM DE EXP"
                >
                <input class="" type="submit" value="BUSCAR">
            </div>
        </div>

        
    </div>
</header>