{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheets %}
        <link rel="stylesheet" href={% static 'css/login.css' %}>
    {% endblock stylesheets %}

    {% block iconBootstrap %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% endblock iconBootstrap %}

    {% block icon_page %}
        <link rel="icon" href="{% static 'images/home/logo_imalogo.png' %}">
    {% endblock icon_page %}
    
    {% block cdn %}
        
        {% comment "Google Fonts" %}{% endcomment %} 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
        {% comment "Google Fonts" %}{% endcomment %}
        
    {% endblock cdn %}


    <title>{% block title %}Gestor de Archivos ISMA{% endblock title %}</title>
</head>
<body>
    
        {% block content %}
        {% comment %} login.html {% endcomment %}
        {% endblock content %}
    
</body>
</html>