
:root{
    --color-fondo : #1f333e;
    --colo-letra-hover: #B1B1B1;
    --color-nav-1 :#AA3056;
    --color-nav-2 :#29678A;
    --color-nav-3 :#8F2424;
    --color-navbar: #3E738F;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
} 

body{  
    
    background-color: var(--color-fondo);
}

header{
    background-color: var(--color-navbar);
    height: 13vh;
    width: 100v;
}

.navbar__information{
    text-align: center;
    width: 80vw;
}

.navbar__logo{
    display: flex;
    align-items: flex-start;
    height: fit-content;
    height: 120px;
    width: 200px;
}

.navbar{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-right: 1em;
    padding-top: 1em;
}    

.navbar__list{
    display: flex;
    justify-content: space-evenly;
}

.navbar__input{
    width: 60vw;
}

.navbar__list-item{ 
    list-style-type: none;
    font-size: 35px;
}

.navbar__list-item > a{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.block__navegador{
    display: flex;
    justify-content: space-evenly;  
    text-align: center;
}

.block__navegador p{  
    font-size: 1.2em; 
    width: 34vh;
    height: 70vh;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
} 

.block__navegador p a{    
    margin-top: 2em;
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
}

img{
    border-radius: 50%;
    width: 225px;
    height: 225px;
    margin-bottom: 2em;
}

.block__navegador--color1{
    background-color: var(--color-nav-1); 
}

.block__navegador--color2{
    background-color: var(--color-nav-2);
}

.block__navegador--color3{
    background-color: var(--color-nav-3);
}


p > a:link,  p >a:visited{
    color: black;
    text-decoration: none;
}

p > a:hover{
    text-decoration: none;
    color: white;  
}

.navbar__list-item > a:hover{
    color: var(--colo-letra-hover);
    font-weight: bold;
    font-size: x-large;
}

/* NAVEGADORES */

.contenedor__nav__tribunales{
    padding: 15px;
    margin: 2em;
    background-color: white;
}

/* NAVEGADORES */