*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

.navegadores__container{
    margin-top: 10%;
}

.navegadores__container-item{
    border: 1px solid #ff0000;
    display: inline;
    align-items: center;
    block-size: 150px;
    writing-mode: horizontal-tb;   
}

.menu__container ul {
    background-color: white;
    border: .5px solid black;
}

.navegadores__container p{
    writing-mode: vertical-tb;
    background-color: rgb(55, 212, 27);
    block-size: 200px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: rgb(8, 94, 27);
}

.navegadores__container{
    display: flex;
    justify-content: space-evenly;
}

.navegadores__container-item a{
    position: static;
    font-size: 1.5em;
    border: 1px solid blue;
    background-color: yellow;
    display: flex;
    text-align: center;
    box-sizing: content-box;
    width: 60%;
}