:root{
    --color-fondo : #87B1D9;
    --color-nav-1 :#2887DF;
    --color-nav-2 :#29678A;
    --color-nav-3 :#8F2424;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

body{
    background-color: var(--color-fondo);
}

.block__menu ul {
    background-color: white;
    border: .5px solid black;
}

.block__navegador{
    display: flex;
    justify-content: space-evenly;  
    text-align: center;
}

.block__navegador p{  
    font-size: 1.2em; 
    width: 10em;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.block__navegador p a{    
    font-size: 1.2em;
    font-family: 'Secular One', sans-serif;
}

.block__navegador--imagen1{    
    border-radius: 50%;
}

.block__navegador--imagen2{
    border-radius: 80%;
}

.block__navegador--imagen3{
    border-radius: 50%;
}

.block__navegador--color1{
    background-color: var(--color-nav-1);
}

.block__navegador--color2{
    background-color: var(--color-nav-2);
}

.block__navegador--color3{
    background-color: var(--color-nav-3);

}