:root{
    --color-font--header: rgb(233, 158, 59);
    --color-bottom:#1B3B7B;
    --color--border-input: #1B3B7B;
    --color-fom-container:#E3EEFE;
    --color-font: rgb(255, 255, 255);
    --color-font-titulo: aliceblue;
    --color-font-shadow: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* bodys de todos los forms*/
body{
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}

.login{
    background-image: url('../images/login/fondo_login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login_other{
    background-image: url('../images/login/fondoLogin1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.login_signup{
    font-size: 1em;
}
/* bodys de todos los forms*/

/* General */
.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 0.8em auto;   
    max-width: 80%;
    height: min-content;
    padding: 3%;
    border-radius: 10px;
    opacity: 85%;
    background-color: var(--color-fom-container);
}

.form__input:focus{
    outline: none;
}

.button__item{
    margin: 30px 0; 
    font-size: 1rem;
    width: 95%;
    min-height: 40px;
    background-color: var(--color-bottom);
    color: var(--color-font);
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}   

.links{
    display: flex;
    flex-direction: column;
    /* margin-top: em; */
    font-size: 16px;
}

.header{
    font-weight: bold;
    color: var(--color-font-titulo);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.3em;
    text-shadow: 2px 2px 10px var(--color-font-shadow);
}  

.msg_error{
    color: red;
    font-weight: lighter;
    font-size: 65%;
}

.is-required:after {
    content: ' *';
    margin-left: 3px;
    color: red;
    font-weight: bold;
  }
/* General */


/* Login */
.right-form{
    width: 60%;
}

.form-header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.form-header__titulo{
    color: var(--color-font--header);
    font-size: 1.74;    
    text-shadow: 2px 2px 10px black;
    margin-bottom: 4%;
    font-size: 10
    vw;
}
.container-link{
    display: flex;
    gap: 30%;
    padding: 1%;
}

.left-form{
    width: 50%;
}

.left-form__logo{
    width: 100%;
}

.form__input{  
    width: 100%; 
    height: 2.5em;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--color--border-input);
    margin-bottom: 10px;
}

.btn-login__check{
    /* margin-top: em; */
    font-size: 18px;
    margin-bottom: 30px;
}
/* Login */


/* Singup */
.p-signup{
    text-align: center;
    margin: 1em;
}
.signup__container{
    width: 50%;
}
/* Singup */

/* Password */
.password__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    height: max-content;
    margin: 1em auto;   
    width: 40%;
    height: min-content;
    padding: 1%; 
    border-radius: 10px;
    opacity: 85%;
    background-color: var(--color-fom-container);
}
/* Password */

@media (max-width:760px) {

    .form__container {
        margin-top: .8em;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 90%;
        height: min-content;
        padding: 6%;
        border-radius: 10px;
        opacity: 85%;
        background-color: var(--color-fom-container);
    }
    
    .button__item{
        min-height: 40px;
    }

    .right-form{
        width: 100%;
    }

    .form-header{
        display: flex; 
        justify-content: center;
    }
    
    .form-header__titulo{   
        margin-top: 10%;
        color: var(--color-font--header);
        text-shadow: 2px 2px 10px black;
        font-size: 8vw;
    }

    .container-link{
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .left-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;   
        margin: -22% 0 -30%;   
    }
    
    .left-form__logo{     
        width: 100%;
        object-fit: cover;
    }

    .password__container{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .header{
        font-size: 10vw;
        font-weight: bold;
        color: var(--color-font-titulo);
        text-align: center;
        text-shadow: 2px 2px 10px var(--color-font-shadow);
    }

    .signup__container{
        margin-top: -2.5em;
    }

    .password__container{
        margin: auto;
        padding: 3%;
    }
    
}


