{% extends 'layouts/base_login.html' %}

{% load static %}

{% block content %}

<body class="login">
    <div class="form__container">
        <section class="left-form">           
            <img class="left-form__logo" src="{% static 'images/logo_final-letras_negras.png' %}" alt="">          
        </section>

        <section class="right-form">     
            <form  method="post" action="">
                {% csrf_token %}      
                <div class="form-header">
                    <h1 class="form-header__titulo">Inicio de Sesion</h1>
                    <div class="container-link">
                        <a href="" class="container-link__item"><i class="bi bi-facebook"></i></a>
                        <a href=""class="container-link__item"><i class="bi bi-google"></i></a> 
                    </div>                   
                </div>

                <div class="form-input">
                    <label class="form__label" for="username">
                        <i class="bi bi-person-fill"></i>
                        Usuario</label>
                        {{form.username}}
    
                    <label class="form__label" for="password">
                        <i class="bi bi-lock-fill"></i>
                        Contraseña</label>
                        {{form.password}}
                </div>  

                {% if msg %}
                    <span class="msg_error">{{msg}}</span>                 
                {% endif %}
                
                    <button class="button__item" type="submit">Iniciar Sesion</button>

                    <div class="btn-login__check">
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Recordarme
                    </label>
                    </div>            

                <div class="links">                      
                    <span>Olvisdate la <a href="{% url 'auth_password' %}">contraseña?</a></span>
                    <span>No tienes cuenta? <a href="{% url 'auth_signup' %}">Registrate</a></span>               
                </div>

            </form>
        </section>
    </div> 

{% endblock content %}

