{% extends 'layouts/base.html' %}

{% block content %}

<body class="login_other">
    <div>
        <form class="form" method="post">

            <h1 class="form__header">Recuperar Contraseña</h1>
            
            <div class="form__container password__container">
                <label class="form__label" for="username">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                      </svg>
                    Email</label>
                <input class="form__input" type="text" placeholder="Ingrese su correo" required>

                <div class="button__container">
                    <button class="button__item" type="submit">Enviar email</button>
                </div>

                <div class="links links--password">  
                    <span>Return to <a href="{% url 'auth_login' %}">Login</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span><br>
                </div>

            </div>

        </form>
    </div>
</body>

{% endblock content %}
