{% extends 'layouts/base_login.html' %}

{% block content %}

<body class="login_other">
    
    <div>
        <form method="post" action="">
            <h1 class="form__header">Recuperar Contraseña</h1>     

            <div class="form__container password__container">
                <label class="form__label" for="username">
                    <i class="bi bi-envelope-fill"></i>
                    Email</label>
                <input class="form__input" type="text" placeholder="Ingrese su correo" required>
            </div>

            <div class="button__container">
                <button class="button__item" type="submit">Enviar email</button>
            </div>

            <div class="links links--password">  
                <span>Regresar a <a href="{% url 'auth_login' %}">Iniciar Sesion</a>
                    <i class="bi bi-arrow-right"></i>
                </span><br>
            </div>      
        </form>          
    </div>
</body>

{% endblock content %}
