{% extends 'layouts/base_login.html' %}

{% block content %}

<body class="login_other">  
    <h1 class="header">Recuperar Contraseña</h1>       
        <form method="post" action="">      
            <div class="password__container">
                <label class="form__label" for="username">
                    <i class="bi bi-envelope-fill"></i>
                    Email</label>
                <input class="form__input" type="text" placeholder="Ingrese su correo" required>
    
                <div class="button__container">
                    <button class="button__item" type="submit">Enviar</button>
                </div>
    
                <div class="links">  
                    <span>Regresar a <a href="{% url 'auth_login' %}">Inicio de Sesion</a>
                        <i class="bi bi-arrow-right"></i>
                    </span><br>
                </div>  
            </div>               
        </form>          
</body>

{% endblock content %}
