{% extends 'layouts/base_login.html' %}

{% block content %}

<body class="login_other login_signup">
    <div>
        <form class="form" method="post">

            <h1 class="form__header signup__header">Resgistrate</h1>

            <div class="form__container signup__container">

                <p class="p-signup">Complete los campors para crear una nueva cuenta</p>

                <label class="form__label" for="username">Nombre(s)</label>
                <input class="form__input" type="text" placeholder="" required>

                <label class="form__label" for="lastname">Apellidos</label>
                <input class="form__input" type="text" placeholder="" required>

                <label class="form__label" for="username">Nombre de usuario</label>
                <input class="form__input" type="text" placeholder="" required>

                <label class="form__label" for="email">email</label>
                <input class="form__input" type="text" placeholder="" required>

                <label class="form__label" for="cel">Celular</label>
                <input class="form__input" type="text" placeholder="" required>

                <label class="form__label" for="password">Constaseña</label>
                <input class="form__input" type="password" placeholder="" required>

                <label class="form__label" for="password">Confirmar Contraseña</label>
                <input class="form__input" type="password" placeholder="" required>


                <div class="button__container">
                    <button class="button__item" type="submit">Enviar</button>
                </div>

                <div class="links links--signup">  
                    <span>Regresar a <a href="{% url 'auth_login' %}">Login</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span><br>
                </div>

            </div>

        </form>
    </div>
</body>

{% endblock content %}
