{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/CJF.css' %}">
    <main>
    
    <div class="container-CJF">
      <form action="/action_page.php">
       
        <center>
        <div class="contenedor_cjf">  

          <h2 style="color:rgb(201, 18, 18);">CONSEJO DE LA JUDICATURA FEDERAL</h2>  
          <div align="center"><img src="{% static 'images/logos/CJFF_sintexto.png' %}" alt="TA" width="200" height="150"></div>
          <br><br><br>
  
          <label for="instancia">CIRCUITO</label>
          <select id="circuito" name="tipo" style="width:300px;">
              
          </select>
          
          <label for="numero">ÓRGANO JURISDICCIONAL</label>
          <select id="organo" name="tipo" style="width:300px;">           
          </select>
      
          <label for="tipo">FECHA</label>
          <input class="input-text" type="text" id="lname" name="tua" placeholder="" style="width:300px;">
         
          <div id="expediente">
            
              <td>
                  <span id="lblExpe" style="color:#24135F;">Número de Expediente</span>
                  <input class="input-text" name="txtNoExp" type="text" id="txtNoExp" style="width:300px;" />
                  <input type="hidden" name="txweNoExpAsignado_ClientState" id="txweNoExpAsignado_ClientState" />
                  
                  <span id="rev1" style="color:Red;display:none;"></span>
                  <input class="input-text" type="hidden" name="ValidatorCalloutExtender2_ClientState" id="ValidatorCalloutExtender2_ClientState" />
                  
                  <span id="lblInfo" style="color:#24135F;font-weight:bold;">Actualización: ahora puedes consultar más expedientes de forma específica separado por comas.</span>
              </td>
              <br><br><br><br>
      
              <input class="input-submit" type="submit" value="Buscar" style="width:300%;">

        </div>
        </center>
       
      </form>
    </div>
    
    <script src="{% static 'js/CFJ.js' %}"></script>  
    </main>
{% endblock content %}