{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <main>

        <scroll-container>
                       
                <div class="navegador">
    
                    <p class="block__navegador block__navegador--color1">
                        <img class="block__navegador__imagen" src="{% static 'images/home/logo_TJAM.png' %}" alt="">
                        <a href="{% url 'TJAM' %}">TRIBUNAL DE JUSTICIA ADMINISTRATIVA</a>
                    </p>
        
                    <p class="block__navegador block__navegador--color2">
                        <img class="block__navegador__imagen" src="{% static 'images/home/logo_stjem.png' %}" alt="">
                        <a href="{% url 'STEJEM' %}">PODER JUDICIAL MICHOACAN</a>
                    </p>
        
                    <p class="block__navegador block block__navegador--color3">
                        <img class="block__navegador__imagen" src="{% static 'images/home/logo_agrarios_1.png' %}" alt="">
                        <a href="{% url 'AGRARIOS' %}">TRIBUNALES AGRARIOS MICHOACAN</a>
                    </p>     
                    
                    <p class="block__navegador block block__navegador--color4">
                        <img class="block__navegador__imagen block__navegador__imagen--img4" src="{% static 'images/logos/CJFF_sintexto.png' %}" alt="">
                        <a href="{% url 'CJF' %}">CONSEJO DE LA JUDICATURA FEDERAL</a>
                    </p>
                </div>

            <scroll-page id="page-2">
                <section class="ayuda__container">
                    <h1>Ayuda</h1>
                    <section class="ayuda__section">
                        <article class="ayuda__articulo">
                            <h2 class="ayuda__titulo">Tribunal de Justicia Administrativa</h2>
                            <p class="ayuda__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eligendi libero dolores deleniti eos, veniam impedit beatae est id facere! At deserunt non praesentium placeat, perferendis voluptatibus maiores aliquam quisquam!</p>
                            <a clas="ayuda__link" href="">Leer más</a>
                        </article>
            
                        <article class="ayuda__articulo">
                            <h2 class="ayuda__titulo">Poder Judicial de Michoacán</h2>
                            <p class="ayuda__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eligendi libero dolores deleniti eos, veniam impedit beatae est id facere! At deserunt non praesentium placeat, perferendis voluptatibus maiores aliquam quisquam!</p>
                            <a clas="ayuda__link" href="">Leer más</a>
                        </article>
            
                        <article class="ayuda__articulo">
                            <h2 class="ayuda__titulo">Tribunales Agrarios Michacán</h2>
                            <p class="ayuda__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eligendi libero dolores deleniti eos, veniam impedit beatae est id facere! At deserunt non praesentium placeat, perferendis voluptatibus maiores aliquam quisquam!</p>
                            <div clas="ayuda__link">
                                <a href="">Leer más</a>
                            </div>
                        </article>
                    </section>
                </section>
            </scroll-page>
            
        </scroll-container>
        </div>

    </main>

{% endblock content %}

