{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <body>
        <div class="block__navegador">

            <p class="block__navegador--color1">
                <img class="" src="{% static 'images/logo_TJAM.png' %}" alt="">
                <a href="{% url 'TJAM' %}">TRIBUNAL DE JUSTICIA ADMINISTRATIVA</a>
            </p>

            <p class="block__navegador--color2">
                <img class="" src="{% static 'images/logo_stjem.png' %}" alt="">
                <a href="{% url 'STEJEM' %}">PODER JUDICIAL MICHOACAN</a>
            </p>

            <p class="block__navegador--color3">
                <img class="" src="{% static 'images/logo_agrarios_1.png' %}" alt="">
                <a href="{% url 'AGRARIOS' %}">TRIBUNALES AGRARIOS MICHOACAN</a>
            </p>
            
        </div>
    </body>

{% endblock content %}

