{% extends 'home/home.html' %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/STEJEM.css' %}">
    <main>
      
    <div class="container-STEJEM">
      <center>

        <h2 style="color:rgb(201, 18, 18);">PODER JUDICIAL DE MICHOACAN</h2>  
        <div align="center"><img src="{% static 'images/logos/JEMM.png' %}" alt="JEM" width="150" height="150"></div>

      
        <form method="POST" action="">
          {% csrf_token %}
          {% if salas == "s" %}       
            <button class="btn" style="background-color:#1f333e ; color:white" name="buscador" value="salas" type="submit">Sala</button>
          {% else %}
            <button class="btn" name="buscador" value="salas" type="submit">Sala</button> 
          {% endif %} 

          {% if juzgado == "j" %}       
            <button class="btn" style="background-color:#1f333e; color:white" name="buscador" value="juzgado" type="submit">Juzgado</button>
          {% else %}         
            <button class="btn" name="buscador" value="juzgado" type="submit">Juzgado</button>  
          {% endif %} 
          
        </form>
       

      {% if juzgado == "j" %}
      <form method="POST" action="">
        {% csrf_token %}
        <br>
         <label for="tipo">Área</label>
         <select class="input-text" type="text" id="distrito" name="tipo" placeholder="Juzgados" style="width:300px;"></select>

         <label for="exp">Distrito:</label>
         <select class="input-text" type="text" id="areaJuzgados" name="ex" placeholder="Municipio" style="width:300px;"></select>
         <br><br>
         <label for="año">Expediente:</label>
         <input class="input-text" type="text" id="ln" maxlength="4" name="p" placeholder="P." style="width:80px;">           
         <label for="año">&nbsp-&nbsp</label>
         <input class="input-text" type="text" id="ln" maxlength="4" name="num" placeholder="Número" style="width:200px;">
         <label for="año">&nbsp/&nbsp</label>
         <input class="input-text" type="text" id="ln" maxlength="10" name="year" placeholder="Año" style="width:200px;">
     
         <br><br><br>
         <input class="input-submit" type="submit" value="Buscar" style="width:300px;">          
       </form>
     </div>
      <script src="{% static 'js/scripts_STEJEM_Juzgados.js' %}"></script>  
      {% endif %}  
      
      {% if salas == "s" %}
      <form action="" method="post">

        <br>     
        <label for="tipo">Área:</label>
        <select class="input-text" type="text" id="area" name="tipo" placeholder="Juzgados" style="width:450px; overflow:hidden"> </select>
        <br><br>
        <label for="año">Toca:</label>
        <input class="input-text" type="text" id="ln" maxlength="4" name="pref" placeholder="Prefijo" style="width:200px;">
        <label for="año">&nbsp-&nbsp</label>
        <input class="input-text" type="text" id="ln" maxlength="4" name="num" placeholder="Número" style="width:200px;">
        <label for="año">&nbsp/&nbsp</label>
        <input class="input-text" type="text" id="ln" maxlength="10" name="year" placeholder="Año" style="width:200px;">

        <br><br><br>
         <input class="input-submit" type="submit" value="Buscar" style="width:300px;">    
      </form>  
      <script src="{% static 'js/scripst_STEJEM_Salas.js' %}"></script>  
      {% endif %}

    </center>

    
    
    </main>
{% endblock content %}