{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<style>

  main{
    display: flex;
    justify-content: center;
  }

  .logo{
    margin-bottom:2em;
  }
 
  #home {
    width: 46px;
    height: 44px;
    background: url(img_navsprites.gif) 0 0;
  }
  
  .input-text[type=text], select {
    width: 100%;
    padding: 9px 15px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #c9b0b0;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  .input-submit[type=submit] {
    width: 100%;
    background-color: #ED5454;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-submit[type=submit]:hover {
    background-color: #ED5454 ;
  }
  
  .container_tjam {  
    width: 95%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  </style>

  <main>
  <div class="container_tjam">
    <form method="POST" action="">
     {% csrf_token %}
     
      <center>
      <h2 style="color:rgb(201, 18, 18);">TRIBUNAL DE JUSTICIA ADMINISTRATIVA</h2>  
      <div class="logo" align="center"><img src="{% static 'images/logos/TJAM.png' %}" alt="Tjam" width="150" height="150"></div>
      <label for="instancia">INSTANCIA</label>


      <select id="instancia" name="tipo" style="width:300px;">
        
      </select>
  
      <label for="numero">NUMERO</label>
      <select id="numero" name="tipo"style="width:300px;">
        
      </select>
    <br><br><br>
      <label for="tipo">TIPO</label>
      <select id="tipo" name="tipo"style="width:300px;">
        
    </select>
      <label for="exp">EXPEDIENTE</label>
      <input  class="input-text" type="text" id="numExpediente" name="ex" placeholder="Expediente" style="width:300px;">
  
      <label for="año">AÑO</label>
      <input class="input-text" type="text" id="ln" name="year" placeholder="Año" style="width:300px;">
  
    <br><br><br>
      <input class="input-submit" type="submit" value="Buscar" style="width:300px;">
      
    </center> 
    </form>
  </div>
  

  <script src="{% static 'js/scripts_TJAM.js' %}"></script>
  
</main>

{% endblock content %}
