{% extends 'layouts/base.html' %}

{% load static %}



{% block content %}

<head>
    
</head>

<main class="main__TJAM">  
    <div class="tjam-container">
      <form action="/action_page.php">
        <img id="home" src="TJAM.png" width="1" height="1">
        <h3>TRIBUNAL DE JUSTICIA ADMINISTRATIVA</h3>  <br><br>
        <label class="tjam-label" for="instancia">INSTANCIA</label>
        <select class="tjam-select" id="instancia" name="tipo">
          <option class="tjam-select--opc" value="I1">instancia 1</option>
          <option class="tjam-select--opc" value="I2">instancia 2</option>
          <option class="tjam-select--opc" value="I3">instancia 3</option>
        </select>
    
        <label class="tjam-label" for="numero">NÚMERO</label>
        <select class="tjam-select" id="numero" name="tipo">
          <option class="tjam-select--opc" value="N1">1</option>
          <option class="tjam-select--opc" value="N2">2</option>
          <option class="tjam-select--opc" value="N3">3</option>
        </select>
    
        <label class="tjam-label" for="tipo">TIPO</label>
        <input class="tjam-input" type="text" id="lname" name="tipo" placeholder="Tipo">
    
        <label class="tjam-label" for="exp">EXPEDIENTE</label>
        <input class="tjam-input" type="text" id="name" name="ex" placeholder="Expediente">
    
        <label class="tjam-label" for="año">AÑO</label>
        <input class="tjam-input" type="text" id="ln" name="aNNO" placeholder="Año">
         
        <input class="tjam__btn-submit" type="submit" value="Buscar">
      </form>
    </div>
    
    
</main>
{% endblock content %}
